[repo]
logging = "warn"

[repo_docs]
enabled = true
social_media_set = []
social_media = []
favicon = "${root}/assets/favicon.ico"
logo = "${root}/assets/nvidia-logo-white.png"

sphinx_conf_py_extra = """
  myst_enable_extensions = [
    "colon_fence",
  ]
  templates_path = ['${root}/templates']
  extensions.extend([
    "sphinx.ext.autosectionlabel",
    "sphinx_copybutton",
    "sphinx_tabs.tabs",
    "sphinxcontrib.blockdiag",
    "sphinx_reredirects",
  ])
  suppress_warnings = [ 'autosectionlabel.*' ]
  blockdiag_fontpath = '/usr/share/fonts/truetype/Roboto-Regular.ttf'
  blockdiag_antialias = True
  pygments_style = 'sphinx'
  copybutton_exclude = '.linenos, .gp'
  html_theme_options = {
    'titles_only': True,
    'logo_only': True,
  }
  html_domain_indices = False
  html_use_index = False
  html_extra_path = ["versions.json"]
  html_static_path.append("${root}/css/")
  html_css_files.append("custom.css")
  highlight_language = 'console'
  intersphinx_mapping = {
    "dcgm": ('https://docs.nvidia.com/datacenter/dcgm/latest/', None),
    "gpuop": ("https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/latest/",
                ("_build/docs/gpu-operator/latest/objects.inv", None)),
    "ctk": ("https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/",
                ("_build/docs/container-toolkit/latest/objects.inv", None)),
    "drv": ("https://docs.nvidia.com/datacenter/cloud-native/driver-containers/latest/",
                ("_build/docs/driver-containers/latest/objects.inv", None)),
  }
  rst_epilog = ".. |gitlab_mr_url| replace:: Sorry Charlie...not a merge request."
  if os.environ.get("CI_MERGE_REQUEST_IID") is not None:
    rst_epilog = ".. |gitlab_mr_url| replace:: {}/-/merge_requests/{}".format(
      os.environ["CI_MERGE_REQUEST_PROJECT_URL"], os.environ["CI_MERGE_REQUEST_IID"])

  if project == "container-toolkit":
    redirects = {
      "concepts": "index.html",
      "distro/amazon-linux.html": "../install-guide.html",
      "distro/centos8.html": "../install-guide.html",
      "distro/rhel7.html": "../install-guide.html",
      "distro/suse15.html": "../install-guide.html",
      "distro/ubuntu.html": "../install-guide.html",
      "install/nvidia-container-toolkit.html": "../install-guide.html",
      "install/repo-apt.html": "../install-guide.html",
      "install/repo-yum.html": "../install-guide.html",
      "install/repo-zypper.html": "../install-guide.html",
      "nvidia-containerd.html": "install-guide.html",
      "nvidia-docker.html": "install-guide.html",
      "nvidia-podman.html": "install-guide.html",
      "runtime/docker.html": "../docker-specialized.html",
      "user-guide.html": "install-guide.html",
    }
"""

#deps = [
#  ["container-toolkit", "_build/docs/container-toolkit/latest"],
#  ["driver-containers", "_build/docs/driver-containers/latest"],
#  ["gpu-operator", "_build/docs/gpu-operator/latest"]
#]


[repo_docs.projects.container-toolkit]
docs_root = "${root}/container-toolkit"
project = "container-toolkit"
name = "NVIDIA Container Toolkit"
version = "1.14.0"
copyright_start = 2020


[repo_docs.projects.driver-containers]
docs_root = "${root}/driver-containers"
project = "driver-containers"
name = "NVIDIA Driver Containers"
version = "1.0.0"
copyright_start = 2020


[repo_docs.projects.edge]
docs_root = "${root}/edge"
project = "edge"
name = "NVIDIA Cloud Native Reference Architectures"
version = "1.0.0"
copyright_start = 2020


[repo_docs.projects.gpu-operator]
docs_root = "${root}/gpu-operator"
project = "gpu-operator"
name = "NVIDIA GPU Operator"
version = "23.6.1"
copyright_start = 2020


[repo_docs.projects.gpu-telemetry]
docs_root = "${root}/gpu-telemetry"
project = "gpu-telemetry"
name = "NVIDIA GPU Telemetry"
version = "1.0.0"
copyright_start = 2020


[repo_docs.projects.kubernetes]
docs_root = "${root}/kubernetes"
project = "kubernetes"
name = "Kubernetes with NVIDIA GPUs"
version = "1.0.0"
copyright_start = 2020


[repo_docs.projects.partner-validated]
docs_root = "${root}/partner-validated"
project = "partner-validated"
name = "Partner Validated Configurations with NVIDIA GPU Operator"
version = "1.0.0"
copyright_start = 2023

sphinx_exclude_patterns = [
  "PARTNER-VALIDATED-TEMPLATE.rst"
]


[repo_docs.projects.review]
docs_root = "${root}/review"
name = "Technical Review"
version = "0.1.0"
copyright_start = 2023
