migManager:
  config:
    name: custom-mig-config
    create: true
    data:
      config.yaml: |-
        version: v1
        mig-configs:
          all-disabled:
            - devices: all
              mig-enabled: false
          custom-mig:
            - devices: [0]
              mig-enabled: false
            - devices: [1]
              mig-enabled: true
              mig-devices:
                "1g.10gb": 2
            - devices: [2]
              mig-enabled: true
              mig-devices:
                "2g.20gb": 2
                "3g.40gb": 1
            - devices: [3]
              mig-enabled: true
              mig-devices:
                "3g.40gb": 1
                "4g.40gb": 1
