{% extends '!breadcrumbs.html' %}

{% set docs_home = "https://docs.nvidia.com" %}
{% set cloud_native_home = docs_home + "/datacenter/cloud-native/" %}

{%- block breadcrumbs %}
<div> <!-- class="omni-version-warning" -->
  <p class="omni-version-warning-content"> Upgrade to NVIDIA Container Toolkit v1.16.2 or GPU Operator v24.6.2 to install a critical security update.<br/>
  Refer to <a href="https://nvidia.custhelp.com/app/answers/detail/a_id/5582">Security Bulletin: NVIDIA Container Toolkit - September 2024</a> for more information.</p>
</div>

<li>
    <a href="{{ docs_home }}">NVIDIA Docs Hub</a>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
</li>
<li>
    <a href="{{ cloud_native_home }}">NVIDIA Cloud Native Technologies</a>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
</li>
{%- for doc in parents %}
  <li>
    <a href="{{ doc.link|e }}">{{ doc.title }}</a>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </li>
{%- endfor %}
<li>{{ title }}</li>
{%- endblock %}