{% extends '!components/breadcrumbs.html' %}

{% set docs_home = "https://docs.nvidia.com" %}
{% set home = docs_home + "/datacenter/cloud-native" %}

{%- block breadcrumbs %}
<nav aria-label="{{ _('Breadcrumb') }}" class="d-print-none">
  <ul class="bd-breadcrumbs">
    <li class="breadcrumb-item breadcrumb-home">
      <a href="{{ docs_home }}">NVIDIA Docs Hub</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ home }}">Cloud Native Technologies</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ pathto(root_doc) }}">{{ project }}</a>
    </li>
    {%- for doc in parents %}
    {% if doc.link %}
    <li class="breadcrumb-item"><a href="{{ doc.link|e }}" class="nav-link">{{ doc.title }}</a></li>
    {% else %}
    <li class="breadcrumb-item">{{ doc.title }}</li>
    {% endif %}
    {%- endfor %}
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ul>
</nav>
{%- endblock %}
